.home-questions{
	width:95vw;
	max-width:1000px;
	background:rgba(255,255,255,0.1);
	margin:auto;
	border:1px solid rgba(255,255,255,0.3);
	padding:10px;
}

.home-questions .question{
	display:block;
	background:#294747;
	border:1px solid rgba(255,255,255,0.25);
	max-width:600px;
	margin:auto;
	margin-top:10px;
	cursor:pointer;
}

.home-questions .question:nth-child(1){
	margin-top:0;
}

.home-questions .question:hover{	
	background:#377272;
}

.home-questions .question hr{
	width:calc( 100% - 50px );
	margin:0px auto 5px 10px;
	border-color:rgba(255,255,255,0.5);
	border-bottom:0;
}

.home-questions .question .question-name{
	display:inline-block;
	padding:5px 10px;
	font-size:14px;
	color:#cfffff;
}

.home-questions .question .question-answer{
	display:inline-block;
	background:#2f754b;
	color:#fff;
	font-size:12px;
	font-style:italic;
	margin-left:10px;
	margin-bottom:5px;
	padding:2px 10px;
	border:1px solid rgba(255,255,255,0.3);
	border-radius:10px;
}