*{
	font-family:'Lato';
}

html{
	background:#1d1827;
}

body{
	margin:0;
}

.header{
	width:100%;
	background:#000;
	color:#fff;
	font-size:22px;
	font-weight:400;
	text-align:center;
	padding:5px;
	margin:5px 0 10px;
	border-top   :1px solid rgba( 80, 252,  27, 0.5);
	border-bottom:1px solid rgba( 87, 164, 212, 0.5);
}